<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="about-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">About Stock Watcher</h4>
        </div>
        <div class="modal-body">
          <p>
            Stock Watcher is an app developed to assist you in selling your stocks at a profit that you have set up.
            <ul>
            	<li>Shows value based on finance.yahoo.com</li> 
            	<li>Color indication of stocks to sell</li>
            	<li>Lists are private and only seen by you</li>
            	<li>Takes into account fee’s</li>
            	<li>Let’s you set the profit you want</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>