<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4 well">
            <h1>Edit Ticker</h1>
                <%= render 'form' %>
        </div>
    </div>
</div>