<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4 well">
            <%= render 'form' %>
            <%= button_to 'Delete Ticker', ticker_path(@ticker), method: :delete, data: {confirm: "Are you sure you want to delete this ticker?"} %>
        </div>
    </div>
</div>

